<form method="POST" action="/articles">
    <label for="title">Title</label><br>
    <input id="title" type="text" name="title"><br><br>
    <label for="content">Content</label><br>
    <textarea id="content" type="text" name="content"></textarea>
    <input type="submit">
</form>